.header{
    position: relative;
    width: 1530px;
    height: 151px;
    background: #A3D0C3;
}

.logo{
    position: absolute;
    top:0;
    left: 10%;
}
.recoverPass{
    margin: 0 auto;
    width: 45%;
    display: block;
}
.finder{
    position: absolute;
    top:0;
    left: 40%;
    margin-top: 5%;
}


.links {
    font-size: 17px;
    position: absolute;
    top:0;
    left: 60%;
    margin-top: 3%;
}
a{
    text-decoration: none;
}
.links a {
    margin: 30px;
    color: #9E9C9C;
    padding: 14px;
    border-radius: 25px;
    border: 3px solid #7BA7AB;
}
.links a:hover {
    color: #7BA7AB;
    background: #E7E5DD;
}
.links a span {
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.links a:hover span {
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    color: #BDB9AB;
}
/*.links a {*/
/*margin: 30px;*/
/*color: #9E9C9C;*/
/*padding: 14px;*/
/*border-radius: 25px;*/
/*border: 3px solid #7BA7AB;*/
/*}*/
/*.links a:hover {*/
/*color: #7BA7AB;*/
/*background: #E7E5DD;*/
/*}*/
/*.links a span {*/
/*opacity: 0;*/
/*padding-left: 5px;*/
/*padding-right: 5px;*/
/*font-weight: bold;*/
/*transition: 0.4s ease-in-out;*/
/*}*/
/*.links a:hover span {*/
/*opacity: 1;*/
/*padding-left: 10px;*/
/*padding-right: 10px;*/
/*color: #BDB9AB;*/
/*}*/

.form {
    width: 400px;
    margin: 0 auto;
}
.d1 {
    font-size: 18px;
    position: absolute;
    top:25%;
    left: 30%;
}
.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


.mainDiv{
    position: relative;
    width: 1530px;
    height: 1000px;
}
.wrapForGenre{
    background-color: mediumturquoise;
    position: absolute;
    width: 18%;
    height: 100%;
    top: 0%;
    left: 4%;
}
.wrapForTitle{
    position: absolute;
    width: 100%;
    top: 1%;
}
.listGenre{
    position: absolute;
    left: 3%;
    top: 100px;
    width: 250px;
}
.wrapForNews{
    background-color: mediumturquoise;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 23%;
}
.wrapForPopular{
    background-color: mediumturquoise;
    position: absolute;
    width: 26%;
    height: 100%;
    top: 0%;
    left: 74%;
}
.d15 h3 {
    font-size: 25px;
    display: table;
    width: auto;
    font-size: 23px;
    margin: 15px auto;
    letter-spacing: 2px;
}
.d15 h3:before {
    content: "";
    position: absolute;
    top: 57%;
    margin-top: -8px;
    left: 20%;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
}
.d15 h3:after {
    content: "";
    position: absolute;
    top: 57%;
    margin-top: -8px;
    right: 20%;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
}

.d15news h3 {
    font-size: 25px;
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
}
.d15news h3:before {
    content: "";
    position: absolute;
    top: 57%;
    margin-top: -8px;
    left: 38%;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
}

.wrapForTitleNotice{
    position: relative;
    width: 100%;
    top: 6%;
}
.d15news h3:after {
    content: "";
    position: absolute;
    top: 57%;
    margin-top: -8px;
    right: 38%;
    width: 10px;
    height: 10px;
    border: 3px solid #fed57b;
    transform: rotate(45deg)
}

.dbl-border {
    list-style: none;
    margin: 0;
}
.dbl-border li {
    margin: 10px 0;
    position: relative;
}
.dbl-border a {
    width: 100%;
    color: #808285;
    text-decoration: none;
    border-left: 6px solid #ABC7EA;
    display: block;
    padding-left: 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    position: relative;
    transition: 0.3s linear;
}
.dbl-border a:before {
    content: "";
    width: 6px;
    height: 70%;
    background: #EE997C;
    position: absolute;
    top: 15%;
    left: -12px;
}
.dbl-border li:before {
    content: "";
    width: 6px;
    height: 40%;
    background: #EFDD89;
    position: absolute;
    top: 30%;
    left: -12px;
}
.dbl-border a:hover {background: #D4D8D9;
    color: #808285;

    text-decoration: none;
}
.popular{
    position: absolute;
    left: 3%;
    top: 100px;
    width: 250px;
}
.newsLibr{
    position: relative;
    top: 10%;
    background-color: #EEF;
    color: #4D4B4B;
    border: 1px solid #999999;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;

}
.search_area{
    width: 350px;
    margin: 0px;
    position: relative;
}
#usr{

}

#search_advice_wrapper2{
    display:none;
    width: 230px;
    background-color: rgb(80, 80, 114);
    color: rgb(255, 227, 189);
    -moz-opacity: 0.95;
    opacity: 0.95;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter:alpha(opacity=95);
    z-index:999;
    position: absolute;
    top: 30px;
    left: 0px;
}

#search_advice_wrapper2 .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
#search_advice_wrapper2 .advice_variant:hover{
    color:#FEFFBD;
    background-color:#818187;
}
#search_advice_wrapper2 .active{
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
}

#search_box{

}

#search_advice_wrapper{
    display:none;
    width: 355px;
    background-color: rgb(80, 80, 114);
    color: rgb(255, 227, 189);
    -moz-opacity: 0.95;
    opacity: 0.95;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter:alpha(opacity=95);
    z-index:999;
    position: absolute;
    top: 41px;
    left: 0px;
}

#search_advice_wrapper .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
#search_advice_wrapper .advice_variant:hover{
    color:#FEFFBD;
    background-color:#818187;
}
#search_advice_wrapper .active{
    cursor: pointer;
    padding: 5px;
    color:#FEFFBD;
    background-color:#818187;
}
