<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>====================</h1>
<h1>This is Home Page</h1>
<div th:if="${lk!=null}">Hello, <strong th:text="${lk}"></strong> !</div>
<h1>====================</h1>
<table th:if="${chats!=null}" border="1" bordercolor="black">
    <tr>
        <th colspan="2">All Chats</th>
    </tr>
    <tr th:each="chat:${chats}">
        <td th:text="${chat.getTitle()}" align="center"></td><!--WTF?!-->
        <td>
            <a th:href="@{'/privateChat/{chat_id}'(chat_id=${chat.getId()})}">Join Chat</a><!--WTF with getId()?!-->
        </td>
    </tr>
</table>
<h1>====================</h1>
<form th:action="@{/createChat}" method="post">
    <div class="input-title">
        <input type="text" name="title" id="title" autocomplete="off"/>
    </div>
    <div><table> Choose Users: <!--IDK how to do checkboxes-->
        <tr>
            <th colspan="2">All Users</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.getLogin()}" align="center"></td><!--WTF?!-->
            <td>
                <!--Here will be checkbox-->
            </td>
        </tr>
    </table></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<h1>====================</h1>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
</body>
</html>