<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome to chat</h1>
<div th:if="${success}">
    Registration success.
</div>
<div class="links">
<a sec:authorize="isAuthenticated()" th:href="@{/home}">Home Page>></a><br>
<a sec:authorize="isAnonymous()"  th:href="@{/login}">Log In>></a><br>
<a sec:authorize="isAnonymous()" th:href="@{/registration}">Registry>></a>
</div>
<h1>=========================</h1>
</body>
</html>